@use "../common/_reset";
@use "../common/__variable" as v;
@use "../common/__mixin" as m;
@import "../common/__reusable.scss";
.container {
  max-width: v.$w-90;
  padding: 0;
  margin: 0 auto;
  padding: v.$px-1;
  @include m.breakpoint(md) {
    padding: v.$px-3;
  }
  @include m.breakpoint(xl) {
    padding: v.$px-6;
  }
}
/*---------------|
------SECTION----|
-----------------|*/
.section {
  &__heading {
    padding: 0 0 1.125rem 0;
    border-bottom: 1px solid black;
  }
  &__title {
    &--typo {
      font-size: 36px;
      font-weight: 500;
    }
  }
  &__body {
    padding: 3.5rem 0 4rem 0;
  }
}
